{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="h-100">
    <nav class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Current Weather</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/forecast/">Forecast</a>
            </li>
          </ul>
    </nav>
    <div class="container">
      <h1 class="text">Forecast for {{ forecast.location }}</h1>
      <ul>
      {% for day in forecast.forecast %}
          <li class="text">{{ day.date }}: {{ day.condition }}, {{ day.max_temp_c }}/{{ day.min_temp_c }}</li>
      {% endfor %}
      </ul>
    </div>
    
</body>
</html>